.contact {
  display: flex;
  flex-direction: row;
}
.contact-msg {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contact-msg h1 {
  color: #641188;
  font-family: "Charm";
  font-size: clamp(1.8rem, 7vw + 1rem, 5rem);
  margin: 0% 0% 0% 0%;
}
.contact-msg p {
  color: black;
  font-family: "Raleway";
  font-size: clamp(0.25rem, 1vw + 0.55rem, 1rem);
  line-height: 2.5rem;
  text-wrap: balance;
}
.contact-msg img {
  border-radius: 100%;
  width: 50%;
  height: auto;
}
.contact form {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.elem-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #641188;
  font-weight: bold;
  font-family: "Raleway";
}
.elem-msg {
  color: #641188;
  font-weight: bold;
  font-size: xx-small;
  font-family: "Raleway";
}
.smaller {
  font-size: xx-small;
  margin-left: 2%;
}

.name-content {
  display: flex;
  flex-direction: row;
}

.name-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 1.75%;
}
.name-box input {
  width: 40vw;
  height: 6vh;
  border: 2px solid #641188;
  border-radius: 0.4rem;
  box-sizing: border-box;
}

.text-box {
  display: flex;
  flex-direction: column;
}
.text-box input {
  width: 40vw;
  height: 6vh;
  border: 2px solid #641188;
  border-radius: 0.4rem;
  box-sizing: border-box;
}
.big-text-box input {
  border: 2px solid #641188;
  border-radius: 0.4rem;
  width: 40vw;
  height: 20vh;
  margin-right: 5%;
}
.contact label {
  color: #641188;
  font-weight: bold;
  font-family: "Raleway";
  font-size: clamp(0.1rem, 1vw + 0.5rem, 0.6rem);
}

.contact button {
  margin-top: 5%;
  background-color: rgb(224, 82, 101);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 0%;
  border: none;
  color: white;
  padding: 0.8rem 2rem;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.contact button:hover {
  background-color: rgb(200, 60, 80);
}

.checkbox {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .contact-msg {
    margin-right: 15%;
  }
  .name-content {
    flex-direction: column;
  }
}
