.navbar {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c04a76;
  height: 69px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: row-reverse;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 25px;
  display: block;
  text-align: center;
}
.navbar h1 {
  text-wrap: balance;
  font-family: "Playfair Display";
  color: gray;
  font-size: 20px;
  position: relative;
}
.navbar a:hover {
  background-color: rgb(255, 126, 169);
}
.navbar img {
  width: 200px;
  display: block;
  margin: 0;
  padding: 0;
  height: 90px;
  position: relative;
  bottom: 22px;
  cursor: pointer;
}
