.navbar {
  max-width: 100%;
  background-color: #c04a76;
  max-height: 25%;
  padding: 0%;
  margin: 0%;
}

.navbar hr {
  width: 100%;
  height: 10%;
  background: #fff;
}

.vertical {
  border-left: 1px solid #fff;
  height: auto;
}
.navbar ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  list-style-type: none;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 25px;
  display: block;
  text-align: center;
}
.navbar Link {
  text-wrap: balance;
  font-family: "Raleway";
  color: gray;
  font-size: 25px;
}
.navbar a:hover {
  background-color: rgb(255, 126, 169);
}
.navbar img {
  cursor: pointer;
  width: 15%;
  height: 15%;
  margin-right: 20%;
}
