.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0%;
  margin: 5% 0 7.5% 0;
}

.programs h1 {
  color: #641188;
  font-family: "Charm";
  font-size: clamp(5vw, 7.5vw + 1rem, 9vw);
  margin: 0 0 5% 0;
}

.programTile {
  border: 1px solid #491570;
  border-radius: 1%;
  background-color: #f7eefe;
  width: 75vw;
  height: 70%;
  display: flex;
  align-items: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 2%;
}

.programText {
  display: flex;
  flex-direction: column;
}

.programText h1,
.programText p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.programText h1 {
  font-size: clamp(2.5vw, 3.5vw, 4.5vw);
  font-family: "Gabriela";
  text-wrap: nowrap;
  margin-bottom: 5%;
}

.programText p {
  color: black;
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  line-height: clamp(1rem, 1.5vw, 2.5rem);
  text-wrap: pretty;
  font-family: "Raleway";
}

.programTile img {
  width: 25vw;
  height: auto;
  border-radius: 8px;
}

.programTile:hover {
  transform: translateY(-2px);
}

@media (max-width: 992px) {
  .programTile {
    flex-direction: column;
  }
  .programTile img {
    width: 100%;
    height: auto;
  }
  .programTile h1 {
    text-wrap: pretty;
  }
}
@media (max-width: 768px) {
  .programTile {
    flex-direction: column;
  }
  .programTile img {
    width: 100%;
  }
  .programTile h1 {
    text-wrap: pretty;
  }
  .programText h1 {
    font-size: clamp(2.5vw, 3.5vw, 4.5vw);
  }

  .programText p {
    color: black;
    font-size: clamp(1rem, 1.5vw, 2rem);
    line-height: clamp(1.5rem, 2vw, 2.5rem);
  }
}
