.program-hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 33%;
  background-color: #f7effc;
  border-top: 4px solid #958e95;
  border-bottom: 4px solid #958e95;
  margin-bottom: 5%;
  padding-bottom: 5%;
}
.programs h1 {
  color: #641188;
  font-family: "Charm";
  text-align: center;
  font-size: clamp(3vw, 5.5vw + 1rem, 7vw);
  margin: 5% 0 5% 0;
}
.program-sec {
  margin-top: 5%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.program-sec button {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #641188;
  border: none;
  border-radius: 15px;
  font-family: "Raleway";
  color: white;
  font-size: clamp(0.25vw, 1vw + 0.45rem, 1vw);
  text-wrap: nowrap;
}
.gold-body-programs {
  background-color: #ffdd79;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  border-top: 4px solid #958e95;
  border-bottom: 4px solid #958e95;
}
.gold-body-programs p {
  margin-top: 2%;
  color: #641188;
  text-align: center;
  text-wrap: pretty;
  font-weight: bolder;
  font-family: "Raleway";
  line-height: 150%;
  font-size: clamp(0.75vw, 7vw + 0.9rem, 1.2vw);
  max-width: 90ch;
  margin-bottom: 2%;
}
