.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0%;
  margin: 10px;
}

.programs h1 {
  color: #641188;
  font-family: "Charm";
  font-size: 90px;
}

.programTile {
  border: 1px solid #491570;
  border-radius: 5px;
  background-color: #f7eefe;
  width: 60em;
  height: 70%;
  display: flex;
  align-items: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 2%;
}

.programText {
  display: flex;
  flex-direction: column;
}

.programText h1,
.programText p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.programText h1 {
  font-size: 49px;
  font-family: "Gabriela";
  text-wrap: nowrap;
  margin-bottom: 25px;
}

.programText p {
  color: black;
  font-size: 17px;
  line-height: 35px;
  text-wrap: nowrap;
  font-family: "Raleway";
}

.programTile img {
  width: 20em;
  height: 20em;
  border-radius: 8px;
}

.programTile:hover {
  transform: translateY(-2px);
}
