div .volunteer-hero {
  background-color: #ffb6d1;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5%;
  margin-top: 5%;
}

div .volunteer-hero-content {
  width: 100%;
  background-color: #fbcbdd;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.volunteer-hero-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3.5%;
  margin-bottom: 2.5%;
}

.volunteer-hero-card img {
  width: 75%;
  height: auto;
  margin-bottom: 7.5%;
}

.volunteer-hero h1 {
  color: #641188;
  font-family: "Charm";
  font-size: clamp(1.8rem, 7vw + 1rem, 5rem);
}

.volunteer-hero-card button {
  background-color: rgb(224, 82, 101);
  border-radius: clamp(1.8rem, 7vw + 1rem, 5rem);
  border: none;
  color: white;
  padding: 2.5% 5%;
  font-size: clamp(0.25rem, 1vw + 0.45rem, 1rem);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.volunteer-content-card button:hover {
  background-color: rgb(200, 60, 80);
}
.volunteer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.volunteer-content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbcbdd;
  margin-top: 3.5%;
  margin-bottom: 2.5%;
  width: 30%;
  height: 75dvh;
}

.volunteer-content-card h1 {
  text-align: center;
  color: #641188;
  font-family: "Charm";
  font-size: clamp(0.9rem, 4vw + 0.65rem, 3.75rem);
}

.volunteer-content-card p {
  text-align: center;
  color: black;
  font-family: "Raleway";
  font-size: clamp(0.25rem, 1vw + 0.55rem, 1rem);
  line-height: 2.5rem;
  text-wrap: pretty;
}
