.header {
  background-color: #ffe8ec;
  width: 100vw;
  height: 40vh;
  gap: 0px;
}
.header h1 {
  font-size: 49px;
  position: relative;
  top: 20%;
  text-align: center;
  margin-bottom: 20px; /* space between header and buttons */
}
.button {
  position: absolute;
  top: 35%;
  left: 28%;
  display: flex;
  gap: 35px;
}
.button button {
  background-color: rgb(224, 82, 101);
  border-radius: 25px;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button button:hover {
  background-color: rgb(200, 60, 80);
}
.description {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
.descItem {
  display: block;
  flex: 1;
  padding: 20px;
  background-color: #ffe8ec;
  text-align: center;
  border-radius: 8px;
}

.description h1 {
  font-family: "Playfair Display";
  text-wrap: nowrap;
  color: rgb(224, 82, 101);
  font-size: 39px;
}
