.who-we-are {
  width: 100%;
  max-width: 1400px;
  margin: 0;
}

.who-we-are h1 {
  color: #641188;
  font-family: "Charm";
  font-size: clamp(4vw, 7.5vw + 1rem, 5vw);
  text-wrap: nowrap;
}

.who-we-are p {
  text-align: center;
  color: black;
  font-family: "Raleway";
  font-size: clamp(0.5rem, 0.75vw, 1rem);
  line-height: clamp(1rem, 1.5vw, 2.5rem);
  text-wrap: pretty;
}

.mission {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.mission-text p,
.mission-text h1 {
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
.mission-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mission-text h1 {
  text-align: center;
  margin-bottom: 2.5px;
}

.mission img {
  width: 15%;
  border-radius: 100%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  display: block;
}

.story-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-story {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 5%;
  gap: 5%;
}
.story-img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.story-img img {
  width: 25vw;
  height: 50vh;
  margin-left: 5%;
}

.story-text h1,
.story-text p {
  margin: 0;
  padding: 0;
}

.story-text p {
  margin-bottom: 1.5%;
  margin-top: 1.5%;
}

.wave {
  width: 125%;
  height: 50px;
  background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 50'%3E%3Cpath fill='none' stroke='goldenrod' stroke-width='4' d='M0,25 Q30,0 60,25 T120,25 T180,25 T240,25 T300,25 T360,25 T420,25 T480,25 T540,25 T600,25 T660,25 T720,25 T780,25 T840,25 T900,25 T960,25 T1020,25 T1080,25 T1140,25 T1200,25 T1260,25 T1320,25 T1380,25 T1440,25' /%3E%3C/svg%3E")
    repeat-x center;
  background-size: contain;
}

@media (max-width: 992px) {
  .mission {
    flex-direction: column;
  }
  .mission img {
    width: 40%;
    height: auto;
    margin: 5% 0% 0 0;
  }
  .our-story {
    flex-direction: column;
  }
  .story-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .story-img img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 9 / 16;
    object-fit: cover;
  }
}
