.who-we-are h1 {
  color: #641188;
  font-family: "Charm";
  text-align: center;
}

.who-we-are p {
  color: black;
  font-family: "Raleway";
}

.our-story {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-wrap: wrap;
}
.our-story p {
  text-align: center;
}
