html,
body {
  height: 100%;
  margin: 0;
}

.app {
  min-height: 100vh; /* fill at least the screen */
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* take up remaining space */
}
